.mainWrapper {
  display: flex;
  flex-direction: row;
  border: solid 2px yellow;
  width: 275px;
  height: 70px;
  background-color: blanchedalmond;
}
.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;

  font-size: 16px;
  font-weight: 400;
  color: blue;
}
.contactIcon {
  margin-left: 8px;
}
.contactButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  margin: auto;
  margin-right: 8px;
  border: solid 2px blue;
  border-radius: 8px;
  background-color: lightblue;
  color: blue;
  transition: background-color 0.3s, color 0.3s;
}
.contactButton:hover,
.contactButton:focus,
.contactButton:active {
  background-color: darkblue;
  color: blanchedalmond;
}
